<%- include('partials/header') %>

<section class="auth-box">
  <h1><%= t('notfound.title') %></h1>
  <p><%= t('notfound.desc') %></p>
  <a class="btn" href="/"><%= t('notfound.home') %></a>
</section>

<%- include('partials/footer') %>
